<!DOCTYPE html>
<html>
<head>
    <title>chat</title>
    <meta charset="utf-8">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/chat.css">
    <script src="static/chat.js" charset="utf-8"></script>

</head>
<body>
    <div class="container">
        <div class="col-sm-3 col-sm-offset-4 frame">
            <ul id="ulid"></ul>
            <div>
                <div class="msj-rta macro" style="margin:auto">
                    <div class="text text-r" style="background:whitesmoke !important;color:black" width="200px">
                        <input class="mytext" placeholder="Type a message update"/>
                    </div>

                </div>
                <input style="background:whitesmoke !important"  type="submit" name="sumbit" value="choose for me" id="pclick">
            </div>
        </div>
    </div>
    <div class="container">
    </div>
</body>
</html>
